<h4 class="settop">Accounts</h4>
        <table tr-ng-grid="" items="act.accounts" fields="['Description_ba', 'Total']"
               on-data-required="act.populate()"
               enable-sorting="false"
               enable-filtering="false">
            <thead>
                <tr>
                    <th field-name="Description_ba" display-name="Description"></th>
                    <th field-name="Total" display-name="Total"></th>
                    <th display-name="Transactions"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td field-name="Description_ba"></td>
                    <td field-name="Total">
                    </td>
                    <td><button ng-click="act.gotoView(gridItem.id)">View</button></td>
                </tr>
            </tbody>
        </table>
