<h3 class="settop">Accounts</h3>
        <table tr-ng-grid="" items="act.accounts" fields="['Description_ba', 'Total']"
               on-data-required="act.populate()"
               enable-sorting="false"
               enable-filtering="false">
            <thead>
                <tr>
                    <th field-name="Description_ba" display-name="Description"></th>
                    <th field-name="Total" display-name="Total"></th>
                    <th display-name="Actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td field-name="Description_ba"></td>
                    <td field-name="Total"></td>
                    <td><button ng-click="act.gotoView(gridItem.id)">View Transactions</button><button ng-click="act.toggleedit(gridItem)" ng-disabled="act.inedit">Edit</button><button ng-click="act.delete(gridItem)" ng-disabled="act.inedit">Delete</button></td>
                </tr>
            </tbody>
        </table>
<button ng-click="act.createtoggle()" ng-disabled="act.increate">Create</button>
<div ng-style="act.style" ng-show="act.createmode" class="navbar navbar-fixed-bottom setbottom">
    <span>Create Menu</span><br />
    <span>Description:</span><input ng-model="act.create.desc" ng-change="act.createvalidate()" />
    <span>Amount:</span><input ng-model="act.create.amt" ng-change="act.createvalidate()" />
    <button ng-click="act.sendcreate()" ng-disabled="acct.error">Create</button>
    <button ng-click="act.exitcreate()">Close</button><span>{{act.error}}</span><span>{{act.returnmsg}}</span>
</div>
