<h3 class="settop" ng-init="budgetmonth.getParms()">Budget for {{budgetmonth.selected.month}}/{{budgetmonth.selected.year}}</h3>
<table tr-ng-grid="" items="budgetmonth.budgets" fields="['rec.Amount', 'type', 'date']"
       on-data-required="budgetmonth.populate()"
       enable-sorting="false"
       enable-filtering="false">
    <thead>
        <tr>
            <th field-name="rec.Amount" display-name="Amount"></th>
            <th field-name="type" display-name="Type"></th>
            <th field-name="date" display-name="Date"></th>
            <th display-name="Action"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button ng-disabled="budgetmonth.inedit">Edit</button><button ng-click="budgetmonth.delete(gridItem)" ng-disabled="budgetmonth.inedit">Delete</button></td>
        </tr>
    </tbody>
</table>
<div class="marginbottom"><button ng-click="budgetmonth.createtoggle()" ng-disabled="budgetmonth.increate">Create Budget</button></div>
<span>Transaction Type:</span>
<select ng-options="type.name as type.name for type in budgetmonth.types" ng-model="budgetmonth.filter" ng-change="budgetmonth.restore();budgetmonth.dofilter()"></select>
<button ng-click="budgetmonth.clearfilter()">Reset</button>
<table tr-ng-grid="" items="budgetmonth.trans"
       on-data-required="budgetmonth.getTransData()" fields="['rec.Amount', 'rec.ReconcileAmount', 'type', 'date']"
       enable-sorting="false"
       enable-filtering="false">
    <thead>
        <tr>
            <th field-name="rec.Amount" display-name="Amount"></th>
            <th field-name="rec.ReconcileAmount" display-name="Reconcile"></th>
            <th field-name="type" display-name="Type"></th>
            <th field-name="date" display-name="Date"></th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
<div ng-style="budgetmonth.style" ng-show="budgetmonth.createmode" class="navbar navbar-fixed-bottom setbottom">
    <span>Create Menu</span><br />
    <input ng-model="budgetmonth.createtemp.amount" ng-change="budgetmonth.createvalidate()" ng-disabled="budgetmonth.prevent" />
    <input ng-model="budgetmonth.date" ng-change="budgetmonth.createvalidate()" />
    <select ng-options="type.id as type.name for type in budgetmonth.types" ng-model="budgetmonth.createtemp.type" ng-change="budgetmonth.createvalidate()"></select>
    <button ng-click="budgetmonth.sendcreate()" ng-disabled="budgetmonth.error">Create</button>
    <button ng-click="budgetmonth.exitcreate()">Close</button><span>{{budgetmonth.error}}</span>{{budgetmonth.returnmsg}}
</div>