<h3 class="settop" ng-init="house.populate()">House</h3>
<span>{{house.house.name}}</span>
<button ng-click="house.gotoView('acct', house.house.id)" ng-disabled="house.disabled">Accounts</button>
<button ng-click="house.gotoView('budget', house.house.id)" ng-disabled="house.disabled">Budgets</button>
<span>Users:</span><select ng-options="user.Id as user.UserName for user in house.users" ng-model="house.user" ng-change="house.checkuser()"></select>
<button ng-disabled="house.nokick" ng-click="house.kickUser(house.user, true)">Kick User</button>
<span>Invites:</span><select ng-options="invite.Id as invite.UserName for invite in house.invites" ng-model="house.invite" ng-change="house.set()"></select>
<button ng-disabled="house.reject" ng-click="house.kickUser(house.invite, false)">Reject</button><span>{{house.msg}}</span>
<table tr-ng-grid="" items="house.allusers" fields="['UserName']"
       enable-sorting="false"
       enable-filtering="false">
    <thead>
        <tr>
            <th display-name="Name"></th>
            <th display-name="Action"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>{{gridItem.fname}} {{gridItem.lname}}</span></td>
            <td><button ng-click="house.inviteuser(gridItem.Id)">Invite User</button></td>
        </tr>
    </tbody>
</table>
<button ng-click="house.delete()">Leave House</button>
