<h4 class="settop">Transactions</h4>
<table tr-ng-grid="" items="tr.merge" fields="['tr.Amount', 'tr.Description_t', 'type.name']"
       on-data-required="tr.populate()"
       enable-sorting="false"
       enable-filtering="false" ng-click="tr.populate()">
    <thead>
        <tr>
            <th field-name="tr.Amount" display-name="Amount"></th>
            <th field-name="tr.Description_t" display-name="Description"></th>
            <th field-name="typr.name" display-name="Type"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
