<h3 ng-init="userhouse.populate()" class="settop">House</h3>
<span>{{userhouse.house.name}}</span>
<button ng-click="userhouse.gotoView('acct', userhouse.house.id)" ng-disabled="userhouse.disabled">Accounts</button>
<button ng-click="userhouse.gotoView('budget', userhouse.house.id)" ng-disabled="userhouse.disabled">Budgets</button>
<table tr-ng-grid="" items="userhouse.users" fields="['UserName']"
       enable-sorting="false"
       enable-filtering="false">
    <thead>
        <tr>
            <th display-name="Name"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>{{gridItem.fname}} {{gridItem.lname}}</span></td>
        </tr>
    </tbody>
</table>
