<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Page title - directive.js -->
    <title page-title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link href="Content/budget.css" rel="stylesheet" />
    <!-- Fonts  -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/nv.d3.min.css" rel="stylesheet" />
    <link href="Content/trNgGrid.min.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="app">
        <div class="container" ng-controller="menuCtrl as menu">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="btn btn-primary" ui-sref="splash">
                        Budget Planner
                    </a>
                    <button class="btn btn-primary" ng-if="authentication.isAuth" ng-click="menu.gotoHome()">Home</button>
                    <a class="btn btn-primary" ng-if="!authentication.isAuth" ui-sref="login">Login</a>
                    <a class="btn btn-primary" ng-if="!authentication.isAuth" ui-sref="register">Register</a>
                    <a class="btn btn-primary" ng-if="authentication.isAuth" ui-sref="login" ng-click="logout()">Log Out</a>
                    <span class="whitetext" ng-if="authentication.isAuth">{{authentication.userName}}</span>
                    <a class="btn btn-primary navbar-right" target="_blank" href="https://github.com/keithst/Budgetplanner">Github</a>
                </div>
            </nav>
            <div ui-view></div>
        </div>
    </div>
    <script src="Scripts/d3/d3.js"></script>
    <script src="Scripts/nv.d3.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/angular-nvd3.min.js"></script>
    <script src="Scripts/trNgGrid.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/factory/authSvc.js"></script>
    <script src="app/factory/authIntercepterSvc.js"></script>
    <script src="app/factory/httpuser.js"></script>
    <script src="app/controller/loginCtrl.js"></script>
    <script src="app/controller/registerCtrl.js"></script>
    <script src="app/controller/menuCtrl.js"></script>
    <script src="app/factory/httphouse.js"></script>
    <script src="app/controller/houseCtrl.js"></script>
    <script src="app/controller/userhouseCtrl.js"></script>
    <script src="app/factory/httpaccount.js"></script>
    <script src="app/controller/acctCtrl.js"></script>
    <script src="app/factory/httpbudget.js"></script>
    <script src="app/controller/budgetCtrl.js"></script>
    <script src="app/factory/httptrans.js"></script>
    <script src="app/controller/transCtrl.js"></script>
    <script src="app/controller/budgetmonthCtrl.js"></script>

    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
